body {
    background-image: url(bg.png);
	font-family: Tahoma;
}
		
#frame {
	background-color: rgba(255,200,200,0.3);
    
    width: 1012px;
    
    padding: 10px;
    margin-left: 140px;
}
		
header nav ul {
    list-style-type: none;
    background-color: rgba(255,255,200,0.3);
    
    display: flex;
    
    margin: 0 0 15px 0;
    padding: 0 0 0 12px;
    width: 998px;
}
		
#content {
    display: flex;
    
}
		
nav li {
    display: inline-block;
    padding: 8px 10px 9px 9px;
}
		
nav li a {
    text-decoration: none;
    color: #000;
    
    font-weight: bold;
}
		
main {
    border: 1px black solid;
    background-color: rgba(200,200,255,0.3);
    
    width: 690px;
    
    padding-top: 9px;
}
		
aside {
    border: 1px black solid;
    background-color: rgba(200,255,200,0.3);
    
    padding-top: 9px;
    padding-bottom: 28px;
    flex: 1;
}
aside article {
    margin: 0 8px 0 9px;
    height: 79px;
}

aside article p {
    line-height: 17px;
}

body article {
	background-color: rgba(200,200,200,0.6);
    
    margin: 0 8px 0 8px;
    height: 80px;
}

body article p {
    padding: 0 0 8px 0;
}

h1.title {
    text-align: center;
    margin: 20px 0 23px 0;
}

h2.article {
    font-size: 24px;
    line-height: 33px;
}

h3.asideArt {
    font-size: 18px;
    line-height: 32px;
}

article {
    margin-top: 20px;
    height: 80px;
}
		
footer {
	background-color: rgba(255,255,200,0.3);
    
    text-align: center;
    font-weight: bold;
}
	